body{
    min-height: 2000px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(156, 191, 192);
    color: antiquewhite;
    align-items: center;
    position: sticky;
    top: 0;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 400px;
}
.nav-links a{
    text-decoration: none;
    color: antiquewhite;

}
.logo{
    font-size: 50px;
}
.hero{
    background: url(../images/Hello\ Molly\ US\ _\ Fashion\ For\ Women\ _\ Official\ Online\ Store.jpeg) center/cover no-repeat;
    position: relative;
    height: 400px;
    z-index: -100px;
    color: antiquewhite;
}

.hero h1{
    position: absolute;
    top: 170px;
    left: 50%;
}
.hero p{
    position: absolute;
    top:51%;
    left: 50%;
}
.btn{
    position: absolute;
    top:60%;
    left:50%;
}
.up{
    background-color: rgba(127, 255, 212, 0.42);
    width: 50px;
    height: 50px;
    position:fixed;
    bottom: 0;
    left:0;
}
